.kBuilderPreview[data-v-fd7b8d] {
  font-size: 0;
}
.kBuilderPreview__frame[data-v-fd7b8d] {
  border: none;
  width: 100%;
  height: 200px;
}
.kBuilderBlock {
  background: #fff;
  box-shadow: 0 2px 5px rgba(22,23,26,0.05);
  position: relative;
  opacity: 1;
  transition: opacity 0.5s, transform 0.5s;
}
.kBuilderBlock--pending {
  opacity: 0;
  transform: translateY(5%);
}
.kBuilderBlock__label {
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  height: 100%;
  -ms-flex-align: center;
      align-items: center;
}
.kBuilderBlock__expandedIcon {
  margin-right: 4px;
  transform: rotate(-90deg);
}
.kBuilderBlock__expandedIcon--expanded {
  transform: rotate(0);
}
.kBuilderBlock__header {
  height: 38px;
  font-size: 0.875rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.kBuilderBlock__header--col-1 {
  padding-left: 0.75rem;
}
.kBuilderBlock__actions {
  position: absolute;
  right: 0;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}
.kBuilderBlock__actionsGroup {
  margin-right: 0;
}
.kBuilderBlock__actionsGroup.k-button-group>.k-button {
  padding-top: 0;
  padding-bottom: 0;
}
.kBuilderBlock__actionsDropDown {
  display: inline-block;
}
.kBuilderBlock__actionsButton {
  min-width: 38px;
  height: 38px;
  opacity: 0.4;
  color: #16171a;
  font-weight: 500;
}
.kBuilderBlock__actionsButton:hover {
  opacity: 0.7;
}
.kBuilderBlock__actionsButton--active {
  pointer-events: none;
  opacity: 1;
}
.kBuilderBlock__actionsButton .k-button-figure img {
  background-color: transparent;
  border-radius: 0;
}
.kBuilderBlock__form {
  padding: 0.625rem 0.75rem 2.25rem 0.75rem;
}
.kBuilderBlock .sortable-drag {
  cursor: -webkit-grab;
}
.kBuilderBlock .kBuilderBlock,
.kBuilderBlock .k-structure-table,
.kBuilderBlock .k-card,
.kBuilderBlock .k-list-item {
  box-shadow: 0 2px 5px rgba(22,23,26,0.15), 0 0 0 1px rgba(22,23,26,0.05);
}
.kBuilderBlock .k-structure {
  margin-left: 25px;
}
.k-sortable-ghost > .k-column-content > .kBuilderBlock,
.k-sortable-ghost > .kBuilderBlock,
.sortable-ghost > .k-column-content > .kBuilderBlock,
.sortable-ghost > .kBuilderBlock {
  box-shadow: 0 0 0 2px #4271ae, 0 5px 10px 2px rgba(22,23,26,0.25);
}
.kBuilder__addButton {
  width: 100%;
  background-color: transparent;
  padding: calc(0.625rem * 4) 0.75rem;
  border: 1px dashed #ccc;
  transition: background-color 0.3s, border-color 0.3s;
}
.kBuilder__addButton:hover {
  background-color: #81a2be;
  border-color: transparent;
}
.kBuilder__addBlockButton {
  cursor: pointer;
}
.kBuilder .kBuilder--col-1 {
  padding-left: 25px;
}
.kBuilder__dragDropHandle {
  width: 38px;
  height: 38px;
  color: #16171a;
  opacity: 0.25;
  z-index: 1;
  cursor: -webkit-grab;
  will-change: opacity, color;
  transition: opacity 0.3s;
}
.kBuilder__dragDropHandle--col-1 {
  position: absolute;
  left: -38px;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}
.kBuilder__blocks:hover .kBuilder__dragDropHandle,
kBuilder__blocks:hover .kBuilder__dragDropHandle--col-1 {
  opacity: 0.25;
}
.kBuilder__block .kBuilder__dragDropHandle:hover,
kBuilder__block:hover .kBuilder__dragDropHandle--col-1 {
  opacity: 1;
}
.kBuilder__inlineAddButton {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}
.kBuilder__inlineAddButton:hover {
  opacity: 1;
}
.kBuilder__inlineAddButton::before {
  content: "";
  border-color: #4271ae;
  border-style: dashed;
  border-width: 0;
  display: block;
}
.kBuilder__inlineAddButton--horizontal {
  height: calc(0.625rem * 2);
  width: 100%;
  bottom: 100%;
}
.kBuilder__inlineAddButton--horizontal::before {
  border-bottom-width: 2px;
  padding-top: calc(0.625rem - 1px);
}
.kBuilder__inlineAddButton--vertical {
  width: 1.5rem;
  height: 100%;
  right: 100%;
}
.kBuilder__inlineAddButton--vertical.kBuilder__inlineAddButton--after {
  left: 100%;
  right: auto;
  top: 0;
}
.kBuilder__inlineAddButton--vertical::before {
  width: calc(1.5rem / 2 + 1px);
  height: 100%;
  border-right-width: 2px;
}

.blocklist-enter-active,
.blocklist-leave-active {
  transition: all 0.5s;
}
.blocklist-enter, .blocklist-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-5%);
}

.kBuilder--col-1 .kBuilder__blocks {
  grid-row-gap: calc(0.625rem * 2);
}

.kBuilder__column {
  position: relative;
}

.kBuilder__dialog .k-list-item-image,
.kBuilder__dialog .k-dialog-button-submit {
  display: none;
}

.kBuilder__blockContent--hidden {
  display: none;
}

.kBuilder--dragging .kBuilderPreview__frame {
  pointer-events: none;
}